/******************** FONTS ********************/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");
/******************** VARS ********************/
/******************** BASE ********************/
* { outline: transparent; }

html, body { color: #333333; min-width: 320px; font-family: "Raleway", sans-serif; font-size: 16px; }

h1, h2, h3, h4, h5, h6 { font-family: "Raleway", sans-serif; margin-bottom: 30px; margin-top: 0; font-weight: 800; }

h1 { font-size: 60px; }

h2 { font-size: 48px; }

h3 { font-size: 36px; }

h6 { font-size: 16px; }

a { color: #333333; text-decoration: none !important; transition: color .2s ease-in-out, background .2s ease-in-out; }

a:hover { color: #00ded5; }

p { line-height: 25px; font-family: "Raleway", sans-serif; font-weight: 300; }

p:last-child { margin-bottom: 0; }

section { padding: 30px 0; }

::-webkit-input-placeholder { font: 14px verdana, arial, sans-serif; }

:-moz-placeholder { font: 14px verdana, arial, sans-serif; }

::-moz-placeholder { font: 14px verdana, arial, sans-serif; }

:-ms-input-placeholder { font: 14px verdana, arial, sans-serif; }

/******************** CLASSES ********************/
.nopadding { padding: 0; }

.row.rowflex { display: flex; }

@media (min-width: 768px) { .row.rowflex-sm { display: flex; } }

@media (min-width: 992px) { .row.rowflex-md { display: flex; } }

@media (min-width: 1200px) { .row.rowflex-lg { display: flex; } }

figure.fit { background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: 0; padding-bottom: 100%; overflow: hidden; }

.text-center { text-align: center; }

.clear { clear: both; }

.no-padding { padding: 0 !important; }

/******************** HEADER ********************/
#header { background: #fff; position: fixed; top: 0; left: 0; right: 0; transition: background .6s ease-in-out; z-index: 3; }

#header .navbar-brand { height: auto; padding: 23px 0; transition: padding .4s ease-in-out; }

#header .navbar-brand img { width: 100%; transition: width .4s ease-in-out; }

#header .dropdown-submenu { position: relative; }

#header .nav > li > a:hover, #header .nav > li > a:focus { background: transparent; }

#header .open ul { margin-top: -23px !important; }

#header .nav .open > a, #header .nav .open > a:hover, #header .nav .open > a:focus { background: transparent; }

#header .navbar-header #menu-toggle { background: transparent; border: 0; width: 40px; height: 40px; position: absolute; top: 0; right: 15px; padding: 6px; margin: 15px 0; margin-left: 20px; outline: transparent !important; vertical-align: bottom; transition: margin .4s ease-in-out; }

#header .navbar-header #menu-toggle .icon-bars { background: #fff; display: block; position: relative; height: 3px; transition: background .6s ease-in-out 0s; }

#header .navbar-header #menu-toggle .icon-bars:before, #header .navbar-header #menu-toggle .icon-bars:after { content: ''; background: #fff; display: block; position: absolute; height: 3px; width: 100%; }

#header .navbar-header #menu-toggle .icon-bars:before { top: -8px; transition-property: top, transform, background; transition-duration: .3s, .3s, .6s; transition-delay: .3s, 0s, 0s; transition-timing-function: ease-in-out, ease-in-out, ease-in-out; }

#header .navbar-header #menu-toggle .icon-bars:after { bottom: -8px; transition-property: bottom, transform, background; transition-duration: .3s, .3s, .6s; transition-delay: .3s, 0s, 0s; transition-timing-function: ease-in-out, ease-in-out, ease-in-out; }

#header #menu { float: right; }

#header #menu ul { list-style: none; font-size: 16px; padding: 0; margin: 0; }

#header #menu ul > li { float: left; transition: background .2s ease-in-out, color .2s ease-in-out; }

#header #menu ul > li:first-of-type { margin-left: 0; }

#header #menu ul > li > a { color: #333333; display: block; line-height: 30px; font-size: 13px; text-decoration: none !important; text-align: center; text-transform: uppercase; transition: color .2s ease-in-out, padding .4s ease-in-out; position: relative; }

#header #menu ul > li > a:hover { color: #00ded5; }

#header #menu ul > li:nth-child(5) { margin-right: 180px; }

#header #menu .logo { position: absolute; left: 585px; }

#header #menu .logo img { width: 150px; }

/******************** BANNER ********************/
.top-banner { height: 100%; height: 80vh; background-attachment: fixed; }

.top-banner:before { content: ''; background: rgba(0, 222, 213, 0.3); position: absolute; top: 0; width: 100%; height: 100%; transform-origin: top; }

.top-banner .carrossel { position: relative; top: 250px; }

.top-banner .carrossel p { color: #fff; text-align: center; font-size: 18px; }

.top-banner .owl-nav .owl-prev, .top-banner .owl-nav .owl-next { display: block; position: absolute; top: 40%; transform: translateY(-50%); width: 45px; height: 45px; font-size: 48px; color: #fff; text-align: center; transition: background .3s ease-in-out; }

.top-banner .owl-nav .owl-prev span, .top-banner .owl-nav .owl-next span { line-height: 1; }

.top-banner .owl-nav .owl-next { right: 0%; }

.top-banner-page { height: 100%; height: 45vh; background-attachment: fixed; }

.top-banner-page:before { content: ''; background: rgba(0, 222, 213, 0.3); position: absolute; top: 0; width: 100%; height: 100%; transform-origin: top; }

/******************** SESS2 HOME ********************/
.sessao-video-home { background: #fff; position: relative; padding-top: 50px; }

.sessao-video-home h2 { color: #333333; background-color: #00ded5; font-weight: 300; font-size: 23px; margin-bottom: 10px; text-transform: uppercase; width: 30%; padding: 10px; }

.sessao-video-home h3 { color: #fff; background-color: #333333; font-weight: 300; font-size: 23px; margin-bottom: -25px; text-transform: uppercase; width: 25%; padding: 10px; position: relative; z-index: 1; }

.video-wrapper { position: relative; width: 100%; height: 0; padding-bottom: 46.25%; }

.video-wrapper video { background: #000; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.video-wrapper .video-overlay { background: rgba(0, 0, 0, 0.6); position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; opacity: 1; visibility: visible; transition: opacity .2s ease-in-out, visibility 0s linear 0s; cursor: pointer; }

.video-wrapper .video-overlay > span { color: #fff; background: #000; width: 94px; height: 94px; padding-left: 6px; border-radius: 50%; line-height: 94px; text-align: center; font-size: 26px; }

.video-wrapper .video-overlay.playing { opacity: 0; visibility: hidden; transition: opacity .2s ease-in-out, visibility 0s linear .2s; }

/******************** CTA HOME ********************/
.cta-home { text-align: left; position: relative; padding-top: 40px; padding-bottom: 40px; }

.cta-home h2 { color: #333333; font-size: 30px; font-weight: 300; }

.cta-home p { color: #333333; font-size: 16px; }

.cta-home hr { border-top: 5px solid #00ded5; width: 15%; }

.cta-home .cta-button { background-color: transparent; text-transform: uppercase; color: #333333; font-weight: 300; font-size: 17px; padding: 10px 30px; display: inline-block; margin-top: 20px; transition: 0.5s; border: solid 3px #00ded5; }

.cta-home .cta-button:hover { background: #00ded5; color: #333333; }

/******************** NEWS HOME ********************/
.news-home { background: #fff; position: relative; text-align: center; padding-top: 50px; padding-bottom: 50px; }

.news-home h2 { color: #333333; background-color: #00ded5; font-weight: 300; font-size: 23px; margin-bottom: 10px; text-transform: uppercase; width: 15%; padding: 10px; margin: 0px auto; }

.news-home figure.fit { padding-bottom: 85%; }

.news-home .box-news { margin-top: 50px; }

.news-home .post { text-align: left; }

.news-home .post h3 { font-size: 20px; margin-bottom: 0; font-weight: 300; text-align: center; }

.news-home .post span { color: #fff; background-color: #333333; font-weight: 300; font-size: 11px; text-transform: uppercase; width: 25%; padding: 10px; position: relative; z-index: 1; margin: 0px auto; text-align: center; display: block; bottom: 15px; }

.news-home .cta-button { background-color: transparent; text-transform: uppercase; color: #333333; font-weight: 300; font-size: 17px; padding: 10px 30px; display: inline-block; margin-top: 40px; transition: 0.5s; border: solid 3px #00ded5; }

.news-home .cta-button:hover { background: #00ded5; color: #333333; }

.news-page { background: #fff; position: relative; text-align: center; padding-bottom: 50px; }

.news-page h2 { color: #fff; background-color: #333333; font-weight: 300; font-size: 23px; margin-bottom: 10px; text-transform: uppercase; width: 15%; padding: 10px; position: relative; bottom: 50px; }

.news-page figure.fit { padding-bottom: 85%; }

.news-page .box-news { margin-top: 20px; }

.news-page .box-posts { margin-top: 20px; }

.news-page .box-posts figure.fit { padding-bottom: 55%; }

.news-page .box-posts .post { text-align: left; padding: 10px; }

.news-page .box-posts .post h3 { text-align: left; margin-bottom: 20px; font-weight: 600; }

.news-page .box-posts .post span { margin: 0; bottom: 30px; width: 15%; }

.news-page .box-posts .post .cta-button { margin-top: 20px; }

.news-page .wp_pagination { margin-bottom: 20px; text-align: right; }

.news-page .wp_pagination .page-numbers { background: transparent; border: solid 2px #00ded5; padding: 12px; border-radius: 5px; color: #333333; }

.news-page .wp_pagination .page-numbers:hover { background: #00ded5; }

.news-page .wp_pagination .current { background: #00ded5; }

.news-page .post { text-align: left; }

.news-page .post h3 { font-size: 20px; margin-bottom: 0; font-weight: 300; text-align: center; }

.news-page .post span { color: #fff; background-color: #333333; font-weight: 300; font-size: 11px; text-transform: uppercase; width: 25%; padding: 10px; position: relative; z-index: 1; margin: 0px auto; text-align: center; display: block; bottom: 15px; }

.news-page .cta-button { background-color: transparent; text-transform: uppercase; color: #333333; font-weight: 300; font-size: 17px; padding: 10px 30px; display: inline-block; margin-top: 40px; transition: 0.5s; border: solid 3px #00ded5; }

.news-page .cta-button:hover { background: #00ded5; color: #333333; }

.news-page .postagens { margin-top: 50px; }

.news-page aside { margin-top: 20px; }

.news-page .widget { margin-bottom: 30px; text-align: left; }

.news-page .widget h3 { color: #333333; background-color: #00ded5; font-weight: 300; font-size: 23px; margin-bottom: 10px; width: 60%; padding: 10px; z-index: 1; position: relative; }

.news-page .widget .imgwidget { display: block; position: relative; bottom: 30px; }

.news-page .widget p { text-align: left; }

.news-page .widget a { color: #333333; }

.news-page .widget li { margin-bottom: 10px; }

/******************** CASES HOME ********************/
.cases-page { background: #fff; position: relative; text-align: left; padding-bottom: 50px; }

.cases-page h2 { color: #fff; background-color: #333333; font-weight: 300; font-size: 23px; margin-bottom: 10px; text-transform: uppercase; width: 15%; padding: 10px; position: relative; bottom: 50px; text-align: center; }

.cases-page h3 { font-size: 30px; font-weight: 300; }

.cases-page figure.fit { padding-bottom: 48%; }

.cases-page hr { border-top: 5px solid #00ded5; width: 15%; }

.cases-page .cases { margin-bottom: 40px; }

/******************** CONTATO HOME ********************/
.contato-page { background: #fff; position: relative; text-align: left; padding-bottom: 50px; }

.contato-page h2 { color: #fff; background-color: #333333; font-weight: 300; font-size: 23px; margin-bottom: 10px; text-transform: uppercase; width: 15%; padding: 10px; position: relative; bottom: 50px; text-align: center; }

.contato-page h3 { font-size: 30px; font-weight: 300; margin-top: 30px; }

.contato-page figure.fit { padding-bottom: 48%; }

.contato-page hr { border-top: 5px solid #00ded5; width: 15%; }

.contato-page .btn-newlife { background: #00ded5; width: 100%; border: none; font-size: 20px; text-transform: uppercase; border-radius: 0; padding: 25px; }

.contato-page .btn-newlife:after { content: "\f178"; position: relative; left: 100px; font: normal normal normal 25px/1 FontAwesome; }

.contato-page .btn-newlife:hover { color: #fff; }

.contato-page .btn-newlife a { color: #333333; }

.contato-page form input { border-radius: 0; font-family: "Raleway", sans-serif; background: #fcfcfc; }

.contato-page form textarea { border-radius: 0; font-family: "Raleway", sans-serif; background: #fcfcfc; }

.contato-page .btn-enviar { background-color: transparent; text-transform: uppercase; color: #333333; font-weight: 300; font-size: 17px; padding: 10px 30px; display: inline-block; transition: 0.5s; border: solid 3px #00ded5; border-radius: 0px; }

.contato-page .btn-enviar:hover { background: #00ded5; color: #333333; }

/******************** ESPECIALIDADE HOME ********************/
.especialidade-page { background: #fff; position: relative; text-align: left; padding-bottom: 50px; }

.especialidade-page h2 { color: #fff; background-color: #333333; font-weight: 300; font-size: 23px; margin-bottom: 10px; text-transform: uppercase; width: 28%; padding: 10px; position: relative; bottom: 50px; text-align: center; }

.especialidade-page h3 { font-size: 30px; font-weight: 300; margin-top: 30px; }

.especialidade-page figure.fit { padding-bottom: 120%; }

.especialidade-page hr { border-top: 5px solid #00ded5; width: 15%; }

.especialidade-page h4 { color: #333333; background-color: #00ded5; font-weight: 300; font-size: 19px; margin-bottom: 10px; width: 50%; padding: 10px; z-index: 1; position: relative; text-transform: uppercase; top: 100px; }

/******************** SOBRE HOME ********************/
.sobre-page { background: #fff; position: relative; text-align: left; padding-bottom: 50px; }

.sobre-page h2 { color: #fff; background-color: #333333; font-weight: 300; font-size: 23px; margin-bottom: 10px; text-transform: uppercase; width: 28%; padding: 10px; position: relative; bottom: 50px; text-align: center; }

.sobre-page h3 { font-size: 30px; font-weight: 300; margin-top: 30px; }

.sobre-page figure.fit { padding-bottom: 100%; }

.sobre-page hr { border-top: 5px solid #00ded5; width: 10%; }

/******************** NEWSLETTER HOME ********************/
.newsletter-home { background: url(assets/img/bkg.png); position: relative; padding-top: 50px; }

.newsletter-home h2 { color: #333333; background-color: transparent; font-weight: 300; line-height: 31px; font-size: 26px; margin-bottom: 10px; text-transform: uppercase; }

.newsletter-home h2 i { color: #00ded5; }

.newsletter-home p { color: #333333; font-size: 14px; margin-top: 10px; }

.newsletter-home form input { border-radius: 0; font-family: "Raleway", sans-serif; background: #fcfcfc; }

.newsletter-home form textarea { border-radius: 0; font-family: "Raleway", sans-serif; background: #fcfcfc; }

.newsletter-home .btn-enviar { background-color: transparent; text-transform: uppercase; color: #333333; font-weight: 300; font-size: 17px; padding: 10px 30px; display: inline-block; transition: 0.5s; border: solid 3px #00ded5; border-radius: 0px; }

.newsletter-home .btn-enviar:hover { background: #00ded5; color: #333333; }

/******************** INSTAGRAM HOME ********************/
.instagram-home { background: #fff; position: relative; text-align: center; padding-top: 50px; padding-bottom: 50px; }

.instagram-home h2 { color: #333333; background-color: #00ded5; font-weight: 300; font-size: 23px; margin-bottom: 10px; text-transform: uppercase; width: 15%; padding: 10px; margin: 0px auto; }

.instagram-home .cta-button { background-color: transparent; text-transform: uppercase; color: #333333; font-weight: 300; font-size: 17px; padding: 10px 30px; display: inline-block; margin-top: 40px; transition: 0.5s; border: solid 3px #00ded5; }

.instagram-home .cta-button:hover { background: #00ded5; color: #333333; }

/******************** FOOTER ********************/
.pre-footer { background-color: #00ded5; padding: 15px; position: relative; }

.pre-footer img { max-width: 100%; margin-top: 20px; }

.pre-footer .menu-footer { margin-top: 50px; }

.pre-footer .menu-footer li { list-style: none; display: inline-block; margin-left: 13px; }

.pre-footer .menu-footer li .fa-circle { color: #333333; }

.pre-footer .menu-footer li .fa-inverse { color: #00ded5; }

.pre-footer .menu-footer li a { color: #333333; text-transform: uppercase; font-size: 14px; }

footer { text-align: center; padding: 5px; font-size: 13px; }

@media (min-width: 768px) { #header.top-fixed { box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1); background: #00ded5; border-bottom: none; }
  #header.top-fixed .navbar-brand { padding: 15px 0; }
  #header.top-fixed .navbar-brand img { width: 200px; }
  #header.top-fixed #menu ul > li > a { padding-top: 28px; padding-bottom: 20px; }
  #header.top-fixed a:hover { color: #fff !important; } }

#header.open .navbar-header #menu-toggle .icon-bars { background: transparent !important; }

#header.open .navbar-header #menu-toggle .icon-bars:before { top: 0; transform: rotate(45deg); transition-delay: 0s, .3s; }

#header.open .navbar-header #menu-toggle .icon-bars:after { bottom: 0; transform: rotate(-45deg); transition-delay: 0s, .3s; }

/******************** RESPONSIVO ********************/
@media (max-width: 767px) { /***** BASE *****/
  body { padding-top: 70px; }
  h1 { font-size: 42px; }
  h2 { font-size: 36px; }
  h3 { font-size: 28px; }
  h6 { font-size: 16px; }
  /***** HEADER *****/
  #header { box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1); background: #00ded5; }
  #header .navbar-brand { padding: 0 0; margin-left: 15px; }
  #header .navbar-brand img { height: 70px; width: 60%; padding: 10px; }
  #header #menu { background: #00ded5; border-top: solid 5px #fff; float: none; position: fixed; top: 70px; left: 100%; bottom: 0; width: 100%; transition: left .6s ease-in-out, top .4s ease-in-out; display: flex; align-items: center; justify-content: center; }
  #header #menu ul { width: 100%; padding: 0; }
  #header #menu ul > li { float: none; margin: 0; }
  #header #menu ul > li:nth-child(5) { margin-right: 0; }
  #header #menu ul > li > a { padding: 8px 15px; margin-bottom: 2px; margin-left: 0; }
  #header #menu ul > li > a:after { content: none; }
  #header #menu ul > li > a:before { content: ''; display: block; position: absolute; top: 50%; left: 0; height: 20px; border-left: 14px solid #fff; transform: translateY(-50%); }
  #header #menu ul > li:last-child > a { margin-bottom: 0; }
  #header.open #menu { left: 0%; }
  .sessao-video-home h2 { width: 75%; }
  .sessao-video-home h3 { width: 65%; }
  .news-home h2 { width: 45%; }
  .instagram-home h2 { width: 45%; }
  .news-page h2 { width: 45%; }
  .cases-page h2 { width: 45%; }
  .contato-page h2 { width: 45%; }
  .especialidade-page h2 { width: 45%; }
  .sobre-page h2 { width: 45%; }
  .pre-footer { text-align: center; }
  .pre-footer .menu-footer { padding: 0; }
  .pre-footer .menu-footer li { margin-left: 0; display: block; }
  .contato-page .btn-newlife:after { left: 50px; } }

@media (min-width: 768px) and (max-width: 991px) { /***** HEADER *****/
  #header .navbar-brand { padding: 25px 0; }
  #header .navbar-brand img { height: 36px; }
  #header #menu ul { font-size: 14px; }
  #header #menu ul > li > a { padding: 28px 12px; } }

@media (min-width: 768px) and (max-width: 1200px) { .sessao-video-home h2 { width: 75%; }
  .sessao-video-home h3 { width: 65%; }
  .news-home h2 { width: 45%; }
  .instagram-home h2 { width: 45%; }
  .pre-footer { text-align: center; }
  .pre-footer .menu-footer { padding: 0; }
  .pre-footer .menu-footer li { margin-left: 0; display: block; }
  #header #menu ul > li > a { padding: 28px 3px; }
  #header #menu ul > li > a { font-size: 12px; }
  #header #menu ul > li:nth-child(5) { margin-right: 0; }
  #header #menu .logo { position: absolute; left: 0px; bottom: -20px; } }

/*# sourceMappingURL=style.css.map */