/******************** FONTS ********************/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

/******************** VARS ********************/

$verde: #78B33E;
$white: #fff;
$black: #000;
$Azul: #00ded5;

$text: #333333;

$Raleway: 'Raleway', sans-serif;
/******************** BASE ********************/

* { outline: transparent; }

html, body {
    color: $text;
    min-width: 320px;

    font-family: $Raleway;
    font-size: 16px;

    // line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $Raleway;
    margin-bottom: 30px;
    margin-top: 0;

    font-weight: 800;
}

h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h6 { font-size: 16px; }

a {
    color: $text;
    text-decoration: none !important;
    transition: color .2s ease-in-out, background .2s ease-in-out;
    &:hover {
        color: $Azul;
    }
}
p{
  line-height: 25px;
  font-family: $Raleway;
  font-weight: 300;
}
p:last-child { margin-bottom: 0; }

section {
    padding: 30px 0;
}
::-webkit-input-placeholder {
   font: 14px verdana, arial, sans-serif;
}

:-moz-placeholder {
   font: 14px verdana, arial, sans-serif;
}

::-moz-placeholder {
   font: 14px verdana, arial, sans-serif;
}

:-ms-input-placeholder {  
   font: 14px verdana, arial, sans-serif;
}

/******************** CLASSES ********************/
.nopadding { padding: 0; }

.row.rowflex { display: flex; }
@media (min-width: 768px) { .row.rowflex-sm { display: flex; } }
@media (min-width: 992px) { .row.rowflex-md { display: flex; } }
@media (min-width: 1200px) { .row.rowflex-lg { display: flex; } }

// figures

figure.fit {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.text-center{
  text-align: center;
}
.clear{
  clear: both;
}
.no-padding {
    padding: 0 !important;
}
/******************** HEADER ********************/
#header {
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background .6s ease-in-out;
    z-index: 3;
    
    .navbar-brand {
        height: auto;
        padding: 23px 0;
        transition: padding .4s ease-in-out;
        img{width:100%;  transition: width .4s ease-in-out;}
    }

    .dropdown-submenu {
    position: relative;
    }

    
    .nav>li>a:hover, .nav>li>a:focus{
      background: transparent; 
    }
    .open{
      ul{
        margin-top: -23px !important;
      }
    }
    .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
      background: transparent;
    }
    
    .navbar-header {
        #menu-toggle {
            background: transparent;
            border: 0;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 15px;
            padding: 6px;
            margin: 15px 0;
            margin-left: 20px;
            outline: transparent !important;
            vertical-align: bottom;
            transition: margin .4s ease-in-out;

            .icon-bars {
                background: $white;
                display: block;
                position: relative;
                height: 3px;
                transition: background .6s ease-in-out 0s;
                
                &:before, &:after {
                    content: '';
                    background: $white;
                    display: block;
                    position: absolute;
                    height: 3px;
                    width: 100%;
                }

                &:before {
                    top: -8px;
                    transition-property: top, transform, background;
                    transition-duration: .3s, .3s, .6s;
                    transition-delay: .3s, 0s, 0s;
                    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
                }
                &:after {
                    bottom: -8px;
                    transition-property: bottom, transform, background;
                    transition-duration: .3s, .3s, .6s;
                    transition-delay: .3s, 0s, 0s;
                    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
                }
            }

        } // toggle
    }

    #menu {
        float: right;
        ul {
            list-style: none;
            font-size: 16px;
            padding: 0;
            margin: 0;

            & > li {
                float: left;
                // margin-left: 4px;

                transition: background .2s ease-in-out, color .2s ease-in-out;

                &:first-of-type { margin-left: 0; }

                &:hover {
                    // background: $dkGreen;

                    // & > a { color: $white; }
                }

                & > a {
                    color: $text;
                    display: block;
                    // padding: 25px 5px;
                    line-height: 30px;
                    font-size: 13px;
                    text-decoration: none !important;
                    text-align: center;
                    text-transform: uppercase;
                    transition: color .2s ease-in-out, padding .4s ease-in-out;

                    position: relative;

                    &:hover { color: $Azul; }
                }

                &:nth-child(5){
                  margin-right: 180px;
                }
                // &:nth-child(6){
                //   margin-left: 80px;
                // }
            }
        }
        .logo{
        // width: 100px;
        // height: 64px;
        // background-image: url(assets/img/logo.png);
        // background-size: 100px 64px;
        position: absolute;
        left: 585px;
        img{
          width: 150px;
        }
      }
    }

}


/******************** BANNER ********************/

.top-banner { 
  height: 100%; height: 80vh; background-attachment: fixed;
  &:before{
    content: '';
    background: rgba(0, 222, 213, 0.3);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
  }
  .carrossel{
    position: relative;
    top: 250px;
    p{
      color: $white;
      text-align: center;
      font-size: 18px;
    }
  }
  .owl-nav .owl-prev, .owl-nav .owl-next {
    display: block;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    font-size: 48px;
    
    color: $white;
    text-align: center;
    transition: background .3s ease-in-out; }
    .owl-nav .owl-prev span, .owl-nav .owl-next span {
    line-height: 1; }
    .owl-nav .owl-prev:focus, .owl-nav .owl-prev:active, .owl-nav .owl-prev:visited, .owl-nav .owl-next:focus, .owl-nav .owl-next:active, .owl-nav .owl-next:visited {
     }
    .owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
     }
    .owl-nav .owl-prev {
     }
    .owl-nav .owl-next {
    right: 0%; }
}

.top-banner-page { 
  height: 100%; height: 45vh; background-attachment: fixed;
  &:before{
    content: '';
    background: rgba(0, 222, 213, 0.3);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
  }
}  

/******************** SESS2 HOME ********************/
.sessao-video-home{
  background: $white;
  position: relative;
  padding-top: 50px ;
  h2{
    color: $text;
    background-color: $Azul;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 30%;
    padding: 10px;
  }
  h3{
    color: $white;
    background-color: $text;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: -25px;
    text-transform: uppercase;
    width: 25%;
    padding: 10px;
    position: relative;
    z-index: 1;
  }
}

// videos

.video-wrapper {
    position: relative;

    width: 100%;
    height: 0;
    padding-bottom: 46.25%;

    video {
        background: #000;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-overlay {
        background: rgba(black, .6);

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 1;
        visibility: visible;

        transition: opacity .2s ease-in-out, visibility 0s linear 0s;

        cursor: pointer;

        & > span {
            color: $white;
            background: $black;
            width: 94px;
            height: 94px;

            padding-left: 6px;

            border-radius: 50%;

            line-height: 94px;
            text-align: center;

            font-size: 26px;
        }

        &.playing {
            opacity: 0;
            visibility: hidden;

            transition: opacity .2s ease-in-out, visibility 0s linear .2s;
        }
    }
}

/******************** CTA HOME ********************/
.cta-home{
  text-align: left;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  h2{
    color: $text;
    font-size: 30px;
    font-weight: 300;
  }
  p{
    color: $text;
    font-size: 16px;
  }
  hr{
    border-top: 5px solid $Azul;
    width: 15%;
  }
  .cta-button{
    background-color: transparent;
    text-transform: uppercase;
    color: $text;
    font-weight: 300;
    font-size: 17px;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.5s;
    border: solid 3px $Azul;
    &:hover{
      background: $Azul;
      color: $text;
    }
  }
}
/******************** NEWS HOME ********************/
.news-home{
  background: $white;
  position: relative;
  text-align: center;
  padding-top: 50px ;
  padding-bottom: 50px ;
  h2{
    color: $text;
    background-color: $Azul;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 15%;
    padding: 10px;
    margin: 0px auto;
  }
  figure.fit{
    padding-bottom: 85%;
  }
  .box-news{
    margin-top: 50px;
  }
  .post{
    text-align: left;
    h3{
      font-size: 20px;
      margin-bottom: 0;
      font-weight: 300;
      text-align: center;
    }
    span{
      color: #fff;
      background-color: #333333;
      font-weight: 300;
      font-size: 11px;
      text-transform: uppercase;
      width: 25%;
      padding: 10px;
      position: relative;
      z-index: 1;
      margin: 0px auto;
      text-align: center;
      display: block;
      bottom: 15px;
    }
  }
  .cta-button{
    background-color: transparent;
    text-transform: uppercase;
    color: $text;
    font-weight: 300;
    font-size: 17px;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 40px;
    transition: 0.5s;
    border: solid 3px $Azul;
    &:hover{
      background: $Azul;
      color: $text;
    }
  }
}

.news-page{
  background: $white;
  position: relative;
  text-align: center;
  padding-bottom: 50px ;
  h2{
    color: $white;
    background-color: $text;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 15%;
    padding: 10px;
    position: relative;
    bottom: 50px;
  }
  figure.fit{
    padding-bottom: 85%;
  }
  .box-news{
    margin-top: 20px;
  }
  .box-posts{
    margin-top: 20px;
    figure.fit {
      padding-bottom: 55%;
    }
    .post {
      text-align: left;
      padding: 10px;
      h3{
        text-align: left;
        margin-bottom: 20px;
        font-weight: 600;
      }
      span{
        margin: 0;
        bottom: 30px;
        width: 15%;
      }
      .cta-button{
        margin-top: 20px;
      }
    }
  }
  .wp_pagination{margin-bottom: 20px;text-align: right;}
  .wp_pagination .page-numbers{
      background: transparent;
      border: solid 2px $Azul;
      padding: 12px;
      border-radius: 5px;
      color: $text;
      &:hover{
        background:$Azul; 
      }
  }
  .wp_pagination .current{
    background:$Azul; 
  }
  .post{
    text-align: left;
    h3{
      font-size: 20px;
      margin-bottom: 0;
      font-weight: 300;
      text-align: center;
    }
    span{
      color: #fff;
      background-color: #333333;
      font-weight: 300;
      font-size: 11px;
      text-transform: uppercase;
      width: 25%;
      padding: 10px;
      position: relative;
      z-index: 1;
      margin: 0px auto;
      text-align: center;
      display: block;
      bottom: 15px;
    }
  }
  .cta-button{
    background-color: transparent;
    text-transform: uppercase;
    color: $text;
    font-weight: 300;
    font-size: 17px;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 40px;
    transition: 0.5s;
    border: solid 3px $Azul;
    &:hover{
      background: $Azul;
      color: $text;
    }
  }
  .postagens{
    margin-top: 50px;
  }
  aside{
    margin-top: 20px;
  }
  .widget{
    margin-bottom: 30px;
    text-align: left;
    h3{
      color: $text;
      background-color: $Azul;
      font-weight: 300;
      font-size: 23px;
      margin-bottom: 10px;
      width: 60%;
      padding: 10px;
      z-index: 1;
      position: relative;
    }
    .imgwidget{
      display: block;
      position: relative;
      bottom: 30px;
    }
    p{
      text-align: left;
    }
    a{
      color: $text;
    }
    li{
      margin-bottom: 10px;
    }
  }
}


/******************** CASES HOME ********************/
.cases-page{
  background: $white;
  position: relative;
  text-align: left;
  padding-bottom: 50px ;
  h2{
    color: $white;
    background-color: $text;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 15%;
    padding: 10px;
    position: relative;
    bottom: 50px;
    text-align: center;
  }
  h3{
    font-size: 30px;
    font-weight: 300;
  }
  figure.fit{
    padding-bottom: 48%;
  }
  hr{
    border-top: 5px solid $Azul;
    width: 15%;
  }
  .cases{
    margin-bottom: 40px;
  }
}

/******************** CONTATO HOME ********************/
.contato-page{
  background: $white;
  position: relative;
  text-align: left;
  padding-bottom: 50px ;
  h2{
    color: $white;
    background-color: $text;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 15%;
    padding: 10px;
    position: relative;
    bottom: 50px;
    text-align: center;
  }
  h3{
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
  }
  figure.fit{
    padding-bottom: 48%;
  }
  hr{
    border-top: 5px solid $Azul;
    width: 15%;
  }
  .btn-newlife{
    background: $Azul;
    width: 100%;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 25px;
    &:after{
      content: "\f178";
      position: relative;
      left: 100px;
      font: normal normal normal 25px/1 FontAwesome;
    }
    &:hover{
      color: $white;
    }
    a{
      color: $text;
    }
  }
  form{
    input{
      border-radius: 0;
      font-family: $Raleway;
      background: #fcfcfc;
    }
    textarea{
      border-radius: 0;
      font-family: $Raleway;
      background: #fcfcfc;
    }
  }
  .btn-enviar{
    background-color: transparent;
    text-transform: uppercase;
    color: $text;
    font-weight: 300;
    font-size: 17px;
    padding: 10px 30px;
    display: inline-block;
    transition: 0.5s;
    border: solid 3px $Azul;
    border-radius: 0px;
    &:hover{
      background: $Azul;
      color: $text;
    }
  }
}

/******************** ESPECIALIDADE HOME ********************/
.especialidade-page{
  background: $white;
  position: relative;
  text-align: left;
  padding-bottom: 50px ;
  h2{
    color: $white;
    background-color: $text;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 28%;
    padding: 10px;
    position: relative;
    bottom: 50px;
    text-align: center;
  }
  h3{
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
  }
  figure.fit{
    padding-bottom: 120%;
  }
  hr{
    border-top: 5px solid $Azul;
    width: 15%;
  }
  h4{
    color: $text;
    background-color: $Azul;
    font-weight: 300;
    font-size: 19px;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    top: 100px;
  }
  
}

/******************** SOBRE HOME ********************/
.sobre-page{
  background: $white;
  position: relative;
  text-align: left;
  padding-bottom: 50px ;
  h2{
    color: $white;
    background-color: $text;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 28%;
    padding: 10px;
    position: relative;
    bottom: 50px;
    text-align: center;
  }
  h3{
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
  }
  figure.fit{
    padding-bottom: 100%;
  }
  hr{
    border-top: 5px solid $Azul;
    width: 10%;
  }
}

/******************** NEWSLETTER HOME ********************/
.newsletter-home{
  background: url(assets/img/bkg.png);
  position: relative;
  padding-top: 50px ;
  h2{
    color: $text;
    background-color: transparent;
    font-weight: 300;
    line-height: 31px;
    font-size: 26px;
    margin-bottom: 10px;
    text-transform: uppercase;
    i{
      color: $Azul;
    }
  }
  p{
    color: $text;
    font-size: 14px;
    margin-top: 10px;
  }
  form{
    input{
      border-radius: 0;
      font-family: $Raleway;
      background: #fcfcfc;
    }
    textarea{
      border-radius: 0;
      font-family: $Raleway;
      background: #fcfcfc;
    }
  }
  .btn-enviar{
    background-color: transparent;
    text-transform: uppercase;
    color: $text;
    font-weight: 300;
    font-size: 17px;
    padding: 10px 30px;
    display: inline-block;
    transition: 0.5s;
    border: solid 3px $Azul;
    border-radius: 0px;
    &:hover{
      background: $Azul;
      color: $text;
    }
  }
}
/******************** INSTAGRAM HOME ********************/
.instagram-home{
  background: $white;
  position: relative;
  text-align: center;
  padding-top: 50px ;
  padding-bottom: 50px ;
  h2{
    color: $text;
    background-color: $Azul;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 15%;
    padding: 10px;
    margin: 0px auto;
  }
  .cta-button{
    background-color: transparent;
    text-transform: uppercase;
    color: $text;
    font-weight: 300;
    font-size: 17px;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 40px;
    transition: 0.5s;
    border: solid 3px $Azul;
    &:hover{
      background: $Azul;
      color: $text;
    }
  }
}
/******************** FOOTER ********************/
.pre-footer{
  background-color: $Azul;
  padding: 15px ;
  position:relative;
  img{
    max-width: 100%;
    margin-top: 20px;
  }
  .menu-footer{
    margin-top: 50px;
    li{
      list-style: none;
      display: inline-block;
      margin-left: 13px;
      .fa-circle{
        color: $text;
      }
      .fa-inverse{
        color: $Azul;
      }
      a{
        color: $text;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
}
footer{
  text-align: center;
  padding: 5px;
  font-size: 13px;
}


@media (min-width: 768px) {

    #header.top-fixed {
        box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
        background: $Azul;
        border-bottom: none;
        .navbar-brand {
            padding: 15px 0;
            img{width: 200px;}
        }

        #menu ul > li > a {
            padding-top: 28px;
            padding-bottom: 20px;
        }
        a{
          &:hover{
            color: $white !important;
          }
        }
    }

}

#header.open {
    .navbar-header {
        #menu-toggle {
            .icon-bars {
                background: transparent !important;

                &:before {
                    // background: $menu-text;
                    top: 0;
                    transform: rotate(45deg);
                    transition-delay: 0s, .3s;
                }
                &:after {
                    // background: $menu-text;
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition-delay: 0s, .3s;
                }
            }
        }
    }
}


/******************** RESPONSIVO ********************/

// XS
@media (max-width: 767px) {

    /***** BASE *****/

    body { padding-top: 70px; }

    h1 { font-size: 42px; }
    h2 { font-size: 36px; }
    h3 { font-size: 28px; }
    h6 { font-size: 16px; }


    /***** HEADER *****/

    #header {
        box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
        background: $Azul;
        .navbar-brand {
            padding: 0 0;
            margin-left: 15px;

            img { height: 70px;width: 60%;padding: 10px; }
        }

        #menu {
            background: $Azul;
            border-top: solid 5px $white;
            float: none;
            position: fixed;
            top: 70px;
            left: 100%;
            bottom: 0;
            width: 100%;

            transition: left .6s ease-in-out, top .4s ease-in-out;

            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                width: 100%;
                padding: 0;

                & > li {
                    float: none;
                    margin: 0;
                    &:nth-child(5){
                      margin-right: 0;
                    }

                    & > a {
                        padding: 8px 15px;
                        margin-bottom: 2px;
                        margin-left: 0;

                        &:after { content: none; }

                        &:before {
                            content: '';

                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            height: 20px;

                            border-left: 14px solid $white;

                            transform: translateY(-50%);
                        }
                    }

                    &:last-child > a { margin-bottom: 0; }
                }
            }
        }

        &.open #menu {
            left: 0%;
        }
    }
    .sessao-video-home h2{width: 75%;}
    .sessao-video-home h3{width: 65%;}
    .news-home h2{width: 45%;}
    .instagram-home h2{width: 45%;}
    .news-page h2{width: 45%;}
    .cases-page h2{width: 45%;}
    .contato-page h2{width: 45%;}
    .especialidade-page h2{width: 45%;}
    .sobre-page h2{width: 45%;}
    .pre-footer{text-align: center;}
    .pre-footer .menu-footer{padding: 0;}
    .pre-footer .menu-footer li{margin-left: 0;display: block;}
    .contato-page .btn-newlife:after{left: 50px;}
}

// SM
@media (min-width: 768px) and (max-width: 991px) {

    /***** HEADER *****/

    #header {
        .navbar-brand {
            padding: 25px 0;

            img { height: 36px; }
        }

        #menu {
            ul {
                font-size: 14px;

                & > li > a { padding: 28px 12px; }
            }
        }
    }

}

// MD
@media (min-width: 768px) and (max-width: 1200px) {
  .sessao-video-home h2{width: 75%;}
  .sessao-video-home h3{width: 65%;}
  .news-home h2{width: 45%;}
  .instagram-home h2{width: 45%;}
  .pre-footer{text-align: center;}
  .pre-footer .menu-footer{padding: 0;}
  .pre-footer .menu-footer li{margin-left: 0;display: block;}
  #header #menu ul > li > a{padding: 28px 3px;}
  #header #menu ul > li > a{font-size: 12px;}
  #header #menu ul > li:nth-child(5){margin-right: 0;}
  #header #menu .logo{position: absolute;left: 0px;bottom: -20px;}
}

// LG
@media (min-width: 991px) and (max-width: 991px) {

}